* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin-top: 20px;
}

.teeth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.paradontal-state {
  font-family: sans-serif;
}

.paradontal-state .patient > div {
  margin: 10px;
}

.paradontal-state .patient > div > input {
  margin-left: 20px;
  padding: 5px;
  font-size: 1.2em;
}

.paradontal-state .teethcon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
  grid-gap: 40px;
}

.paradontal-state .teethcon .teethgrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.paradontal-state .teethcon .teethgrid > input {
  display: block;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  height: 25px;
}

.paradontal-state .teethcon .teethgrid > div {
  display: block;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  height: 25px;
}

.paradontal-state .teethcon .teethgrid > div .loader {
  position: relative;
  z-index: 100;
  display: block;
  background-color: #a7a7a7;
  width: 100%;
  height: 100%;
}

.paradontal-state .teethcon .teethgrid > div .loader .loading {
  height: 100%;
  display: block;
  width: 100%;
  background-color: #0093e9;
}

.paradontal-state .teethcon .teethgrid .number {
  height: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

.paradontal-state .teethcon .expl > div {
  height: 25px;
}

.paradontal-state .teethcon .expl .numbers {
  height: 30px;
}

.sonderen > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
}

.sonderen > div .select {
  margin: auto;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #a7a7a7;
}

.sonderen > div #color {
  background-color: #fa4545;
}

.plaque > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
}

.plaque .select {
  margin: auto;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #a7a7a7;
}

.plaque #color {
  background-color: #0093e9;
}

.gingivardi > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
}

.gingivardi > div > input {
  width: 100%;
  text-align: center;
}

.pocket > div {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 33% auto 33%;
      grid-template-columns: 33% auto 33%;
}

.pocket > div > input {
  width: 100%;
  text-align: center;
}

.expl-teeth > div {
  margin-top: 90px;
  font-size: 1.4em;
  text-transform: capitalize;
}

.dis > span {
  display: none;
}

.expl {
  text-transform: capitalize;
}

.loading1 {
  display: block;
  width: 33%;
  height: 100%;
  background-color: #0093e9;
}

.loading2 {
  display: block;
  width: 66%;
  height: 100%;
  background-color: #0093e9;
}

.loading3 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0093e9;
}
/*# sourceMappingURL=style.css.map */