$blue: rgb(0, 147, 233);
$gray: rgb(167, 167, 167);
$red: rgb(250, 69, 69);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    margin:auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    padding:50px;
    margin-top:20px;
}
.teeth{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
}
.paradontal-state{
    font-family: sans-serif;
    .patient{
        
        >div{
            margin:10px;
            >input{
                margin-left: 20px;
                padding:5px;
                font-size: 1.2em;
            }
        }
    }
    .teethcon{
        display: grid;
        grid-template-columns: 180px auto;
        grid-gap: 40px;
        .input{
        }
        .teethgrid{
            width:100%;
            display: grid;
                grid-template-columns: repeat(16,1fr);
                
                >input{
                    display: block;
                    width: 100%;;
                    border: 1px solid black;
                    text-align: center;
                    font-weight: bold;
                    height:25px;
                }
                >div{
                    display: block;
                    width: 100%;;
                    border: 1px solid black;
                    text-align: center;
                    font-weight: bold;
                    height:25px;
                    .loader{
                        position: relative;
                        z-index: 100;
                        display: block;
                        background-color:$gray;
                        width:100%;
                        height:100%;
                        .loading{
                            height:100%;
                            display:block;
                            width:100%;
                            background-color:$blue;
                        }
                    }
                }
                .number{
                    height:30px;
                    text-align:center;
                    padding:5px;
                    border:1px solid black;
                }

        }
        .expl{
            >div{
                height:25px;
            }
            .numbers{
                height:30px;
            }

        }
    }
    .upper{
        .input{

        }
    }
    .lower{
        .input{

        }
    }
}
.sonderen{
    >div{
        display:grid !important;
        grid-template-columns: 33% auto 33%;

        .select{
            margin: auto;
            display:block;
            width:18px;
            height:18px;
            background-color: $gray;
        }
        #color{
            background-color:$red;
        }
    }

}
.plaque{
    >div{
        display:grid !important;
        grid-template-columns: 33% auto 33%;
    }
    .select{
        margin: auto;
        display:block;
        width:18px;
        height:18px;
        background-color: $gray;
    }
    #color{
        background-color:$blue;
    }
}
.gingivardi{
    >div{
        display:grid !important;
        grid-template-columns: 33% auto 33%;
        >input{
            width:100%;
            text-align: center;
        }
    }
}
.pocket{
    >div{
        display:grid !important;
        grid-template-columns: 33% auto 33%;
        >input{
            width:100%;
            text-align: center;
        }
    }
}
.expl-teeth{
    >div{
        margin-top:90px;
        font-size: 1.4em;
        text-transform: capitalize;
    }
}
.dis{
    >span{
        display:none;
    }
}
.expl{
    text-transform: capitalize;
}
